<!-- {%extends 'client/base.html'%}
{%load static%}

{%block cssblock%}
    <link rel="stylesheet" href="{%static 'core/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{%static 'core/assets/fonts/simple-line-icons.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{%static 'core/assets/css/vanilla-zoom.min.css'%}">
{%endblock%} -->
<!-- 
{%block content%} -->
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Bạn đã đặt hàng thành công!</h2>
            <a href="{%url 'shopping:catalog'%}"><button class="btn btn-outline-light btn-lg" type="button">Trở về trang sản phẩm</button></a>
        </div>
    </section>
</main>
<!-- {%endblock%}

{%block jsblock%}
<script src="{%static 'core/assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{%static 'core/assets/js/vanilla-zoom.js'%}"></script>
<script src="{%static 'core/assets/js/theme.js'%}"></script>
{%endblock%} -->

