{%extends 'client/base.html'%}
{%load static%}

{%block cssblock%}
<link rel="stylesheet" href="{%static 'core/assets/bootstrap/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
<link rel="stylesheet" href="{%static 'core/assets/fonts/simple-line-icons.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="{%static 'core/assets/css/vanilla-zoom.min.css'%}">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
</style>
{%endblock%}

{%block content%}
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">FAQ</h2>
                <p>Câu hỏi thường gặp</p>
            </div>
            <div class="content">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-12">
                        <div class="items">
                            <div class="card-details">
                                <div class="product">
                                    <div class="row">
                                        <div class="col-12 price" style="text-align: left;">
                                            <span>Ai có thể dùng trang web này?</span>
                                        </div>
                                        <div>
                                            <br>
                                            <p>- Ai cũng có thể dùng.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row">
                                        <div class="col-12 price" style="text-align: left;">
                                            <span>Khách hàng có thể làm gì với trang web này?</span>
                                        </div>
                                        <div>
                                            <br>
                                            <p>- Khách hàng có thể:</p>
                                            <ul>
                                                <li>Đăng nhập, đăng ký</li>
                                                <li>Tìm kiếm, xem, đánh giá sản phẩm</li>
                                                <li>Thao tác với giỏ hàng</li>
                                                <li>Thanh toán (COD)</li>
                                                <li>Tìm kiếm, xem, đề xuất chỉnh sửa đơn hàng, hủy đơn hàng</li>
                                                <li>Xem, chỉnh sửa, vô hiệu hóa tài khoản</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row">
                                        <div class="col-12 price" style="text-align: left;">
                                            <span>Khi tôi đặt hàng xong, có cần thực hiện thao tác gì không?</span>
                                        </div>
                                        <div>
                                            <br>
                                            <p>- Nhân viên cửa hàng sẽ có trách nhiệm liên hệ với bạn, nếu không thể liên hệ, đơn hàng sẽ tự động bị hủy</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row">
                                        <div class="col-12 price" style="text-align: left;">
                                            <span>Tôi không tìm thấy câu hỏi mong muốn?</span>
                                        </div>
                                        <div>
                                            <br>
                                            <p>- Liên hệ với chủ cửa hàng, hoặc chủ hệ thống</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <nav class="d-flex justify-content-center">
                            <ul class="pagination" id="pagi">
                                <li class="page-item disabled" id="pagiItem" name="prev"><a class="page-link" href="#"
                                        aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active" id="pagiItem" value="1"><a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item" id="pagiItem" value="2"><a class="page-link" href="#">2</a></li>
                                <li class="page-item" id="pagiItem" value="3"><a class="page-link" href="#">3</a></li>
                                <li class="page-item" id="pagiItem" name="next"><a class="page-link" href="#"
                                        aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{%endblock%}

{%block jsblock%}
<script src="{%static 'core/assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{%static 'core/assets/js/vanilla-zoom.js'%}"></script>
<script src="{%static 'core/assets/js/theme.js'%}"></script>
{%endblock%}